{% assign base = site.baseurl %}
<section class="section" id="news" aria-labelledby="news-heading">
  <div class="section__head">
    <h2 class="section__title" id="news-heading">News</h2>
  </div>
  <div class="news-scroll" tabindex="0" role="region" aria-label="News">
  <ul class="news">
    <li>
      <time datetime="2026-09">Sep 2026</time>
      <p><span class="badge badge--accent">New</span> Our new preprint, <a target="_blank" rel="noopener" href="{{ base }}/projects/opasd/">Teach Yourself Where to Look</a>, is now on <a href="https://arxiv.org/abs/2609.33200">arXiv</a>.</p>
    </li>
    <li>
      <time datetime="2026-09">Sep 2026</time>
      <p><span class="badge badge--accent">New</span> Introducing <a target="_blank" rel="noopener" href="{{ base }}/projects/ek-bangla/">EK-Bangla</a>, my first-author benchmark for fine-grained egocentric hand-object interaction in Bangla. The project page is live.</p>
    </li>
    <li>
      <time datetime="2026-04">Apr 2026</time>
      <p>Our paper <a target="_blank" rel="noopener" href="{{ base }}/projects/lagea/">LAGEA: Language Guided Embodied Agents for Robotic Manipulation</a> has been accepted at <a href="https://icml.cc/Conferences/2026">ICML 2026</a>.</p>
    </li>
    <li>
      <time datetime="2026-03">Mar 2026</time>
      <p>Joined the Dept. of Electrical and Computer Engineering, <a href="https://www.northsouth.edu/">North South University</a>, as a Research Assistant, working on egocentric video understanding.</p>
    </li>
    <li>
      <time datetime="2025-09">Sep 2025</time>
      <p>Our work <a target="_blank" rel="noopener" href="{{ base }}/projects/t3time/">T3Time</a> has been accepted at the <a href="https://aaai.org/conference/aaai/aaai-26/">AAAI 2026 Main Technical Track</a>.</p>
    </li>
    <li>
      <time datetime="2025-09">Sep 2025</time>
      <p><a target="_blank" rel="noopener" href="{{ base }}/projects/signformer-gcn/">SignFormer-GCN</a> has been accepted at the <a href="https://wimlworkshop.org/">WiML Workshop at NeurIPS 2025</a>.</p>
    </li>
    <li>
      <time datetime="2025-06">Jun 2025</time>
      <p>Started as a Research Assistant at the Dept. of Robotics and Mechatronics Engineering, University of Dhaka, working on amodal counting.</p>
    </li>
    <li>
      <time datetime="2025-02">Feb 2025</time>
      <p><a target="_blank" rel="noopener" href="{{ base }}/projects/signformer-gcn/">SignFormer-GCN</a> is officially published in <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0316298">PLOS ONE</a>.</p>
    </li>
    <li>
      <time datetime="2024-04">Apr 2024</time>
      <p>Joined <a href="https://therapbd.com/">Therap (BD) Ltd.</a> as an Associate Software Engineer on the Machine Learning team.</p>
    </li>
    <li>
      <time datetime="2024-03">Mar 2024</time>
      <p>Graduated from the Department of <a href="https://rme.du.ac.bd/">Robotics and Mechatronics Engineering</a>, University of Dhaka.</p>
    </li>
    <li>
      <time datetime="2024-01">Jan 2024</time>
      <p>Successfully defended my undergraduate thesis &mdash; a huge milestone in my academic journey.</p>
    </li>
    <li>
      <time datetime="2021-09">Sep 2021</time>
      <p>Presented our poster <a target="_blank" rel="noopener" href="{{ base }}/projects/shl-activity-recognition/">Classical machine learning approach for human activity recognition using location data</a> at UbiComp/ISWC 2021.</p>
    </li>
  </ul>
  </div>
</section>
