<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Rabeya Akter
              </h1>
              <p>I am a PhD student at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a>, where I work on 3D computer vision. My PhD advisor is <a href="http://www.cs.cmu.edu/~hebert/">Martial Hebert</a>.
              </p>
              <p>
                From 2011 to 2017, I worked at <a href="https://www.intel.com">Intel</a>, as part of <a href="https://www.intelrealsense.com/">Intel RealSense</a>. I primarily designed computer vision algorithms for efficient hardware ASICs, including the Intel RealSense <a href="https://software.intel.com/en-us/articles/realsense-r200-camera">R200</a> and <a href="https://software.intel.com/en-us/realsense/d400">D400</a> RGB-D sensors. Additionally, I worked on <a href="https://github.com/IntelRealSense/librealsense">software APIs</a>, <a href="https://patents.google.com/patent/US9992474B2">active illumination systems</a>, <a href="https://patents.google.com/patent/US9304597">human-computer interaction devices</a>, and helped develop demos for trade shows, including CES 2012-2016.
              </p>
              <p>
                I have an MS in Computer Science (AI focus) from <a href="http://cs.stanford.edu">Stanford University</a>, where I was a research assistant for <a href="http://svl.stanford.edu/">Silvio Savarese</a> and a teaching assistant for <a href="http://svl.stanford.edu/">Fei-Fei Li</a> (<a href="http://vision.stanford.edu/teaching/cs131_fall1617/">CS131</a> & <a href="http://cs231n.stanford.edu/2017/">CS231N</a>). I have a BS in EECS from <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a>, where I worked in <a href="https://people.eecs.berkeley.edu/~pister/">Kris Pister's</a> lab.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/rabeya-akter">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?hl=en&user=3XYOK88AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/rabeya-akter-4a3111174/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:70%;max-width:70%" alt="profile photo" src="images\rabeya-akter.jpg">
            </td>
          </tr>
        </table>





        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h1 style="text-align: center;">Research</h1>
              <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p>
            </td>
          </tr>
        </table>


        <!-- Completed Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Completed</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
          {% for post in site.posts %}
            {% if post.categories contains 'research-completed' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="color:blue;">{{post.title}}</h3>
                <br>
                {{post.authors}}<br>
                <em>{{post.venue}}</em>, <br>

                {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> / {% endif %}
                {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
                {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}
                {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
                {% if post.youtube %}<a href="{{post.youtube}}">youtube</a> / {% endif %}

                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>

        <!-- Ongoing Section -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Ongoing</h2>
              
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
          {% for post in site.posts %}
            {% if post.categories contains 'research-ongoing' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3>{{post.title}}</h3>
                <br>
                {{post.authors}}<br>
                <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}<br>

                {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> / {% endif %}
                {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
                {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
                {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
                {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}
                {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
                {% if post.youtube %}<a href="{{post.youtube}}">youtube</a> / {% endif %}

                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
                </table>




          <br>
          <br>
          <br>

          <!-- Projects Header -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h1 style="text-align: center;">Projects</h1>
                <p>
                  Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work.
                </p>
              </td>
            </tr>
          </table>

          <!-- Competitions Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Competitions</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
              {% if post.categories contains 'competition' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  <h3>{{post.title}}</h3>
                  <br>
                  <em>{{post.categories}} {{post.course}}</em><br>
                  {{ post.date | date: "%Y-%m-%d" }}<br>

                  {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
                  {% if post.paper %}<a href="{{post.paper}}">paper</a> / {% endif %}
                  {% if post.patent %}<a href="{{post.patent}}">patent</a> / {% endif %}
                  {% if post.patent2 %}<a href="{{post.patent2}}">patent #2</a> / {% endif %}
                  {% if post.patent3 %}<a href="{{post.patent3}}">patent #3</a> / {% endif %}
                  {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
                  {% if post.video2 %}<a href="{{post.video2}}">video #2</a> / {% endif %}
                  {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
                  {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
                  {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}

                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>

          <!-- Course Projects Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Course Projects</h2>
              </td>
            </tr>
          </table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin:auto;">
            {% for post in site.posts %}
              {% if post.categories contains 'course-project' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  <h3>{{post.title}}</h3>
                  <br>
                  <em> {{post.course}}</em><br>
              

                  {% if post.website %}<a href="{{post.website}}">website</a> / {% endif %}
                  {% if post.paper %}<a href="{{post.paper}}">paper</a> / {% endif %}
                  {% if post.patent %}<a href="{{post.patent}}">patent</a> / {% endif %}
                  {% if post.patent2 %}<a href="{{post.patent2}}">patent #2</a> / {% endif %}
                  {% if post.patent3 %}<a href="{{post.patent3}}">patent #3</a> / {% endif %}
                  {% if post.video %}<a href="{{post.video}}">video</a> / {% endif %}
                  {% if post.video2 %}<a href="{{post.video2}}">video #2</a> / {% endif %}
                  {% if post.code %}<a href="{{post.code}}">code</a> / {% endif %}
                  {% if post.poster %}<a href="{{post.poster}}">poster</a> / {% endif %}
                  {% if post.slides %}<a href="{{post.slides}}">slides</a> / {% endif %}

                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>



        <br>
<br>

<!-- Education Header -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle">
      <h1 style="text-align: center;">Education</h1>
    </td>
  </tr>
</table>

<!-- Education Content -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">
      <p>
        <strong><span style="color:blue;">■ Bachelor of Science in Robotics & Mechatronics Engineering</span></strong> <span style="color:green;">[2019–2024]</span><br>
        Department of Robotics & Mechatronics Engineering,<br>
        University of Dhaka,<br>
        Dhaka, Bangladesh<br>
        - <strong>CGPA:</strong> 3.75/4.00   <em>(Final Year: 3.88/4.00)</em><br>
        <br>
        -<strong>Final Year Project:</strong> Continuous Bangla Sign Language Translation: Mitigating the Expense of Gloss Annotation with the Assistance of Graph <a href="https://docs.google.com/presentation/d/1Qq-LXbnIHoO0C8htiiMZmyBWDhDUo4NN/edit?slide=id.p1#slide=id.p1" target="_blank" style="color:blue;">[Presentation]</a><br>
        <br>
        - <strong>Notable Courses:</strong> Artificial Intelligence, Introduction to Machine Learning, Digital Image Processing and Robot Vision, Digital Signal Processing, 
        Introduction to Robotics, Advanced Robotics, Intelligent Systems and Robotics, Human Robot Interaction,
        Object Oriented Programming, Fundamentals of Programming, Fundamentals of Computing,  Microcontroller and Programmable Logic Controller, Digital Logic Circuit and Microprocessor, Control System Design,
        Linear Algebra, Differential and Integral Calculus, Multivariate and Vector Calculus, Differential Equations and Coordinate Geometry, Mathematical Analysis for Engineers, Statistics for Engineers, 
        Fundamentals of Electrical and Electronics Engineering, Fundamentals of Mechanical Engineering, Fundamentals of Mechatronics Engineering, Advanced Mechatronics Engineering, Industrial Management 
      </p>

      <br>

      <p>
        <strong><span style="color:blue;">■ Higher Secondary School Certificate (HSC)</span></strong> <span style="color:green;">[2016–2018]</span><br>
        Holy Cross College,<br>
        Dhaka, Bangladesh<br>
        - <strong>GPA:</strong> 5.00/5.00
      </p>

      <br>

      <p>
        <strong><span style="color:blue;">■ Secondary School Certificate (SSC)</span></strong> <span style="color:green;">[2006–2016]</span><br>
        Jatrabari Ideal High School,<br>
        Dhaka, Bangladesh<br>
        - <strong>GPA:</strong> 5.00/5.00
      </p>
    </td>
  </tr>
</table>














<br>
<br>

<!-- Experience Header -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle">
      <h1 style="text-align: center;">Experience</h1>
    </td>
  </tr>
</table>

<!-- Experience Content -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">
      <p>
        <strong><span style="color:blue;">■ Research Assistant</span></strong> <span style="color:green;">[June 2025 – Present]</span><br>
        Department of Robotics and Mechatronics Engineering, University of Dhaka<br>
        <strong>Supervisor:</strong> Dr. Sejuti Rahman<br>
        ◦ Conducting research on personality-based human-robot interaction by integrating real-time emotional detection to personalize Pepper robot.
      </p>

      <br>

      <p>
        <strong><span style="color:blue;">■ Associate Software Engineer, QA</span></strong> <span style="color:green;">[Apr 2024 – May 2025]</span><br>
        Therap (BD) Ltd.<br>
        <strong>Team:</strong> Machine Learning<br>
        ◦ Conducted research on Amazon Alexa devices and sound detection systems; performed literature review on action recognition datasets and contributed to the design of data collection for action recognition.<br>
        ◦ Lead quality assurance efforts for the video redaction system to develop and implement comprehensive test plans and cases to validate machine learning algorithms used in video processing.<br>
        ◦ Collaborated with cross-functional teams to identify and resolve complex bugs, significantly improving system reliability.
      </p>

      <br>

      <p>
        <strong><span style="color:blue;">■ AIM Intern</span></strong> <span style="color:green;">[Jan 2024 – Mar 2024]</span><br>
        Pathao Limited<br>
        <strong>Team:</strong> Data Science, Analytics & Insights<br>
        ◦ Developed 5 key performance indicators (KPIs) and metrics for brand health measurement of Pathao Courier, aligning with company-wide strategic goals.<br>
        ◦ Designed and implemented comprehensive questionnaires using data-driven methodologies to assess brand health metrics, improving response quality and depth of insights.
      </p>

      <br>

      <p>
        <strong><span style="color:blue;">■ Undergraduate Research Assistant</span></strong> <span style="color:green;">[Jan 2023 – Jan 2024]</span><br>
        Department of Robotics and Mechatronics Engineering, University of Dhaka<br>
        <strong>Supervisor:</strong> Dr. Sejuti Rahman<br>
        ◦ Designed and implemented a novel architecture for BdSL translation, establishing the first benchmark in this low-resource language domain.<br>
        ◦ Authored a manuscript detailing innovative methodology and findings, published in PLOS One (Q1 Journal).
      </p>
    </td>
  </tr>
</table>








<br>
<br>

<!-- Awards and Scholarships Header -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle">
      <h1 style="text-align: center;">Awards and Scholarships</h1>
    </td>
  </tr>
</table>

<!-- Awards and Scholarships Content -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">

      <!-- Research Grant -->
      <h2>■ Research Grant</h2>
      <ul>
        <li><strong>Special Innovation Fund</strong>, Bangladesh Ministry of Science and Technology (MoST), Fiscal Year 2023–2024<br>
        <em>Project ID: SRG-232431</em></li>
      </ul>

      <br>

      <!-- Academic Scholarship -->
      <h2>■ Academic Scholarship</h2>
      <ul>
        <li><strong>Talent Pool Scholarship</strong>, Higher Secondary Certificate Examination 2018<br>
        <em>Dhaka Education Board</em></li>
      </ul>

      <br>

      <!-- Hackathons -->
      <h2>■ Hackathons</h2>
      <ul>
        <li><strong>Honourable Mention</strong>, NASA Earth Observatory (EO) Dashboard Hackathon 2021<br>
        <em>Organized by NASA, ESA, and JAXA</em></li>
        <li><strong>11th Place</strong>, Sussex-Huawei Locomotion Challenge 2021<br>
        <em>Organized by University of Sussex and Huawei</em></li>
        <li><strong>Second Runner-up</strong>, Ada Lovelace Datathon 2021<br>
        <em>Organized by Bangladesh Open Source Network (BdOSN)</em></li>
      </ul>


      <!-- Others -->
      <h2>■ Others</strong></h2>
      <ul>
        <li><strong>10th Place</strong>, 3rd Women’s Mathematics Olympiad 2019<br>
        <em>Organized by Women’s Mathematics Olympiad Committee & A F Mujibur Rahman Foundation</em></li>
        <li><strong>2nd Place</strong>, Pi Day Celebration 2019<br>
        <em>Organized by Department of Mathematics, University of Dhaka</em></li>
      </ul>

    </td>
  </tr>
</table>









<br>
<br>

<!-- Leadership/Volunteer Activities Header -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle">
      <h1 style="text-align: center;">Volunteer Activities</h1>
    </td>
  </tr>
</table>

<!-- Leadership/Volunteer Content -->
<table style="width:100%; border:0px; border-spacing:0px; border-collapse:separate; margin:auto;">
  <tr>
    <td style="padding:2.5%; width:100%; vertical-align:middle; font-size:16px;">
      <p>
        <strong>■ Student Activity Secretary</strong> <em>Jan 2023 – Dec 2023</em><br>
        IEEE, University of Dhaka Student Branch<br>
        ◦ Organized several workshops, interactive sessions, and industry expert experience-sharing sessions.
      </p>

      <br>

      <p>
        <strong>■ Mentor</strong> <em>Jul 2019 – Dec 2020</em><br>
        Bangladesh Robot Olympiad (BdRO)<br>
        ◦ Conducted robotics workshops in multiple high schools and developed engaging quizzes for BdRO.
      </p>

      <br>

      <p>
        <strong>■ Mentor</strong> <em>Jun 2024 – Sep 2024</em><br>
        Bangladesh Artificial Intelligence Olympiad (BdAIO)<br>
        ◦ Designed and delivered lessons on classification algorithms and evaluation metrics for a group of 10 high school students, and created quizzes to assess their understanding.
      </p>

      <br>

      <p>
        <strong>■ Speaker: Dui Prishthar Bisheshoggo</strong> <em>Dec 2023</em><br>
        IEEE Women In Engineering<br>
        ◦ Delivered a talk on personal experiences in hackathons and datathons, encouraging increased participation of women in tech competitions.
      </p>
    </td>
  </tr>
</table>












        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

